# Лабораторна робота №6

## Завдання 1

In [1]:
def is_year_leap(year):
    """
    Перевіряє, чи є рік високосним.
    """
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]

print("Запуск тестів...")
for i in range(len(test_data)):
  yr = test_data[i]
  print(yr, "-> ", end="")
  result = is_year_leap(yr)
  if result == test_results[i]:
      print("OK")
  else:
      print("Failed")

Запуск тестів...
1900 -> OK
2000 -> OK
2016 -> OK
1987 -> OK

## Завдання 2

In [2]:
def is_year_leap(year):
    """
    Перевіряє, чи є рік високосним. (Код з Завдання 1)
    """
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

def days_in_month(year, month):
    """
    Повертає кількість днів у вказаному місяці та році.
    """
    if month < 1 or month > 12:
        return None
    
    month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    if is_year_leap(year) and month == 2:
        return 29
    
    return month_days[month]

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]

test_years.extend([2001, 2001, 1987, 2020, 2020])
test_months.extend([2, 4, 13, 0, 8])
test_results.extend([28, 30, None, None, 31])


print("Запуск тестів...")
for i in range(len(test_years)):
    yr = test_years[i]
    mo = test_months[i]
    print(yr, mo, "-> ", end="")
    result = days_in_month(yr, mo)
    if result == test_results[i]:
        print("OK")
    else:
        print("Failed (Очікувалося:", test_results[i], ", Отримано:", result, ")")

Запуск тестів...
1900 2 -> OK
2000 2 -> OK
2016 1 -> OK
1987 11 -> OK
2001 2 -> OK
2001 4 -> OK
1987 13 -> OK
2020 0 -> OK
2020 8 -> OK

## Завдання 3

In [6]:
def is_year_leap(year):
    """
    Перевіряє, чи є рік високосним.
    """
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

def days_in_month(year, month):
    """
    Повертає кількість днів у вказаному місяці та році.
    """
    if month < 1 or month > 12:
        return None
    
    month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    
    if is_year_leap(year) and month == 2:
        return 29
    
    return month_days[month]

def day_of_year(year, month, day):
    """
    Повертає порядковий номер дня в році.
    """
    max_days_in_current_month = days_in_month(year, month)
    
    if max_days_in_current_month is None:
        return None
        
    if day < 1 or day > max_days_in_current_month:
        return None
        
    total_days = 0
    for m in range(1, month):
        total_days += days_in_month(year, m)
        
    total_days += day
    
    return total_days

print("--- Запуск тестів ---")

print("31.12.2000 (високосний) ->", day_of_year(2000, 12, 31)) 

print("31.12.1999 (звичайний) ->", day_of_year(1999, 12, 31)) 
print("01.01.2000 (високосний) ->", day_of_year(2000, 1, 1))
print("01.01.1999 (звичайний) ->", day_of_year(1999, 1, 1))  
print("01.03.2000 (високосний) ->", day_of_year(2000, 3, 1))
print("01.03.2001 (звичайний) ->", day_of_year(2001, 3, 1))  

print("32.01.2001 (невірний день) ->", day_of_year(2001, 1, 32)) 
print("29.02.2001 (невірний день) ->", day_of_year(2001, 2, 29)) 
print("01.13.2001 (невірний місяць) ->", day_of_year(2001, 13, 1))
print("01.00.2001 (невірний місяць) ->", day_of_year(2001, 0, 1))

--- Запуск тестів ---
31.12.2000 (високосний) -> 366
31.12.1999 (звичайний) -> 365
01.01.2000 (високосний) -> 1
01.01.1999 (звичайний) -> 1
01.03.2000 (високосний) -> 61
01.03.2001 (звичайний) -> 60
32.01.2001 (невірний день) -> None
29.02.2001 (невірний день) -> None
01.13.2001 (невірний місяць) -> None
01.00.2001 (невірний місяць) -> None

## Завдання 4

In [8]:
def is_prime(num):
    """
    Перевіряє, чи є число простим.
    """
    if num <= 1:
        return False    
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
            
    return True

for i in range(1, 20):
    if is_prime(i + 1):
            print(i + 1, end=" ")

2 3 5 7 11 13 17 19

## Завдання 5

In [9]:
METERS_IN_MILE = 1609.344
LITERS_IN_GALLON = 3.785411784
METERS_IN_100KM = 100000

def liters_100km_to_miles_gallon(liters):
    """
    Конвертує витрату палива з л/100км у милі/галон.
    """
    
    miles_in_100km = METERS_IN_100KM / METERS_IN_MILE
    
    gallons_in_liters = liters / LITERS_IN_GALLON
    
    miles_per_gallon = miles_in_100km / gallons_in_liters
    
    return miles_per_gallon

def miles_gallon_to_liters_100km(miles):
    """
    Конвертує витрату палива з милі/галон у л/100км.
    """
    
    meters_travelled = miles * METERS_IN_MILE

    meters_per_liter = meters_travelled / LITERS_IN_GALLON
    
    liters_per_100km = METERS_IN_100KM / meters_per_liter
    
    return liters_per_100km

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

60.31143162393162
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239916
10.009131205673757

## Завдання 6

In [10]:
def is_a_triangle(a, b, c):
    """
    Перевіряє, чи можуть сторони a, b, c утворити трикутник.
    """
    return (a > 0 and b > 0 and c > 0 and
            a + b > c and
            a + c > b and
            b + c > a)

print("--- Запуск тестів ---")

print("Трикутник (3, 4, 5):", is_a_triangle(3, 4, 5))
print("Трикутник (1, 1, 1):", is_a_triangle(1, 1, 1))
print("Трикутник (10, 10, 1):", is_a_triangle(10, 10, 1))

print("\nНеможливий (1, 2, 3) - вироджений:", is_a_triangle(1, 2, 3)) # 1+2 не > 3
print("Неможливий (1, 2, 5):", is_a_triangle(1, 2, 5))         # 1+2 не > 5
print("Неможливий (5, 1, 2):", is_a_triangle(5, 1, 2))         # 1+2 не > 5
print("Неможливий (0, 1, 1) - нульова сторона:", is_a_triangle(0, 1, 1))
print("Неможливий (-1, 1, 1) - від'ємна сторона:", is_a_triangle(-1, 1, 1))

--- Запуск тестів ---
Трикутник (3, 4, 5): True
Трикутник (1, 1, 1): True
Трикутник (10, 10, 1): True

Неможливий (1, 2, 3) - вироджений: False
Неможливий (1, 2, 5): False
Неможливий (5, 1, 2): False
Неможливий (0, 1, 1) - нульова сторона: False
Неможливий (-1, 1, 1) - від'ємна сторона: False

## Завдання 7

In [11]:
def is_a_triangle(a, b, c):
    """
    Перевіряє, чи можуть сторони a, b, c утворити трикутник.
    """
    return (a > 0 and b > 0 and c > 0 and
            a + b > c and
            a + c > b and
            b + c > a)

def is_a_right_triangle(a, b, c):
    """
    Перевіряє, чи є трикутник зі сторонами a, b, c прямокутним.
    """
    if not is_a_triangle(a, b, c):
        return False  
    
    sides = sorted([a, b, c])
    c1 = sides[0]    
    c2 = sides[1]   
    hypot = sides[2] 
    
    epsilon = 1e-9 
    
    if abs((c1**2 + c2**2) - hypot**2) < epsilon:
        return True
    else:
        return False

print("--- Запуск тестів ---")

print("Прямокутний (5, 3, 4):", is_a_right_triangle(5, 3, 4))
print("Прямокутний (3, 4, 5):", is_a_right_triangle(3, 4, 5))

print("Прямокутний (13, 12, 5):", is_a_right_triangle(13, 12, 5))

print("Не прямокутний (1, 1, 1):", is_a_right_triangle(1, 1, 1))

print("Не трикутник (1, 2, 3):", is_a_right_triangle(1, 2, 3))

print("Не трикутник (0, 4, 5):", is_a_right_triangle(0, 4, 5))

print("Прямокутний (0.5, 0.4, 0.3):", is_a_right_triangle(0.5, 0.4, 0.3))

--- Запуск тестів ---
Прямокутний (5, 3, 4): True
Прямокутний (3, 4, 5): True
Прямокутний (13, 12, 5): True
Не прямокутний (1, 1, 1): False
Не трикутник (1, 2, 3): False
Не трикутник (0, 4, 5): False
Прямокутний (0.5, 0.4, 0.3): True

# Контрольні питання

## 1

In [13]:
def message():
    alt = 1
    print ("Hello, World!")
    
print(alt)

NameError: name 'alt' is not defined

## 2

In [14]:
a = 1

def fun(): 
    a = 2
    print (a)
    
fun ()
print (a)

2
1

## 3

In [15]:
a = 1

def fun():
    global a
    a = 2
    print (a)
    
fun ()
a = 3
print (a)

2
3

## 4

In [16]:
a = 1

def fun():
    global a
    a = 2
    print (a)
    
a = 3
fun ()
print (a)

2
2